@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);





body {
  font-family: Muli;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.75rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6rem;
}
.display-2 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3rem;
    font-size: calc( 1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #444444 !important;
}
.bg-success {
  background-color: #0f7699 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #767676 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ffa200 !important;
  border-color: #ffa200 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #b37100 !important;
  border-color: #b37100 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b37100 !important;
  border-color: #b37100 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #767676 !important;
  border-color: #767676 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #996100;
  color: #996100;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ffa200;
  border-color: #ffa200;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa200 !important;
  border-color: #ffa200 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #062e3c;
  color: #062e3c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #0f7699;
  border-color: #0f7699;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #434343;
  color: #434343;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #767676;
  border-color: #767676;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #444444 !important;
}
.text-secondary {
  color: #ffa200 !important;
}
.text-success {
  color: #0f7699 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #767676 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #111111 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #996100 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #062e3c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #434343 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #767676;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #444444;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b7b7b7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #3cbfec;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b6b6b6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #444444;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #444444;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #444444;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #444444;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #444444;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-soHa5tHa4p {
  background-image: url("../../../assets/images/0319-elice-patterson04-1700x1133.jpg");
}
.cid-soHa5tHa4p .mbr-section-title {
  letter-spacing: .1em;
  color: #ffa200;
}
.cid-soHa5tHa4p .mbr-text {
  letter-spacing: 0.03rem;
}
.cid-soHa5tHa4p .card-img span {
  font-size: 100px;
}
.cid-soHEE43hNc {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #f9f9f9;
}
.cid-soHEE43hNc .card-title {
  letter-spacing: 0.1em;
  color: #232323;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-soHEE43hNc .card {
  margin-bottom: 2rem;
}
.cid-soHEE43hNc .card .card-wrapper {
  height: 100%;
}
.cid-soHEE43hNc .card-box {
  padding-top: 2rem;
}
.cid-soHEE43hNc .card-box p {
  color: #444;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-soHEE43hNc .mbr-section-title {
  letter-spacing: 0.1em;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.cid-soHEE43hNc .btn {
  margin: .3rem;
}
.cid-soHa7Ltr4c .nav-item:focus,
.cid-soHa7Ltr4c .nav-link:focus {
  outline: none;
}
.cid-soHa7Ltr4c .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #444444;
  background: none;
}
.cid-soHa7Ltr4c .navbar.opened {
  transition: all .3s;
  background: #444444 !important;
}
.cid-soHa7Ltr4c .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-soHa7Ltr4c .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-soHa7Ltr4c .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-soHa7Ltr4c .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-soHa7Ltr4c .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-soHa7Ltr4c .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-soHa7Ltr4c .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-soHa7Ltr4c .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-soHa7Ltr4c .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-soHa7Ltr4c .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-soHa7Ltr4c .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-soHa7Ltr4c .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-soHa7Ltr4c .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-soHa7Ltr4c .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-soHa7Ltr4c .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-soHa7Ltr4c .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-soHa7Ltr4c .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-soHa7Ltr4c .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-soHa7Ltr4c .navbar .navbar-brand {
    flex-shrink: initial;
    word-break: break-word;
  }
  .cid-soHa7Ltr4c .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-soHa7Ltr4c .navbar.navbar-short {
  background: #444444 !important;
  min-height: 60px;
}
.cid-soHa7Ltr4c .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-soHa7Ltr4c .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-soHa7Ltr4c .navbar-brand {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-soHa7Ltr4c .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-soHa7Ltr4c .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-soHa7Ltr4c .dropdown-item.active,
.cid-soHa7Ltr4c .dropdown-item:active {
  background-color: transparent;
}
.cid-soHa7Ltr4c .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-soHa7Ltr4c .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-soHa7Ltr4c .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-soHa7Ltr4c .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #444444;
}
.cid-soHa7Ltr4c .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-soHa7Ltr4c .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-soHa7Ltr4c ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-soHa7Ltr4c .navbar-buttons {
  text-align: center;
}
.cid-soHa7Ltr4c button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-soHa7Ltr4c button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-soHa7Ltr4c button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-soHa7Ltr4c button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-soHa7Ltr4c button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-soHa7Ltr4c button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-soHa7Ltr4c nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-soHa7Ltr4c nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-soHa7Ltr4c nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-soHa7Ltr4c nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-soHa7Ltr4c .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-soHa7Ltr4c a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-soHa7Ltr4c .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-soHa7Ltr4c .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-soHa7Ltr4c .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
.cid-soHa7Ltr4c .nav-link:hover,
.cid-soHa7Ltr4c .dropdown-item:hover,
.cid-soHa7Ltr4c .icons-menu .mbr-iconfont:hover {
  color: #c1c1c1 !important;
}
.cid-soYLKJFjje {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #a66a00;
}
.cid-soYLKJFjje .mbr-section-title {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 2.5rem;
}
.cid-soYLKJFjje .mbr-section-subtitle {
  font-weight: 500;
  margin-bottom: 2rem;
}
.cid-soYLKJFjje .mbr-element-title {
  margin-bottom: 1rem;
}
.cid-soYLKJFjje .card-img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.cid-soYLKJFjje .card-img span {
  font-size: 80px;
}
.cid-soYLKJFjje .nav {
  border: none;
  margin-bottom: 3rem;
}
.cid-soYLKJFjje .nav-tabs {
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-soYLKJFjje .tabcont {
  z-index: 1;
  margin: 0;
}
.cid-soYLKJFjje .nav-item {
  margin-top: 1rem;
}
.cid-soYLKJFjje .tab-content-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
}
.cid-soYLKJFjje .tab-content {
  width: 100%;
}
.cid-soYLKJFjje .nav-tabs .nav-link {
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  padding: 1rem 1rem;
  margin: 0px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  transition: all .5s;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom: 1px solid #ffffff;
}
.cid-soYLKJFjje .nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 1px solid #ffffff;
}
.cid-soYLKJFjje .nav-tabs .nav-link.active {
  border: 1px solid #ffffff;
  border-bottom: none;
  font-style: normal;
  background-color: transparent;
}
.cid-soYLKJFjje .mbr-section-text {
  text-align: left;
  color: #ffffff;
}
.cid-soYLKJFjje .mbr-element-title,
.cid-soYLKJFjje .card-img {
  color: #ffffff;
}
.cid-soYLKJFjje .tab-header {
  color: #ffffff;
}
.cid-soYMk3vPFJ {
  padding-top: 90px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/01.jpg");
}
.cid-soYMk3vPFJ .mbr-section-title {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #232323;
  text-align: center;
}
.cid-soYMk3vPFJ .nav {
  border: none;
}
.cid-soYMk3vPFJ .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-soYMk3vPFJ .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  padding: 1rem 3rem;
  margin: 0px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-bottom: 1rem;
  transition: all .5s;
  border-radius: 0px !important;
  border-bottom: 1px solid #000000;
}
.cid-soYMk3vPFJ .nav-tabs .nav-link:hover {
  border: 1px solid #000000;
  background-color: #073b4c;
  color: #ffffff;
}
.cid-soYMk3vPFJ .nav-tabs .nav-link.active {
  border: 1px solid #000000;
  font-weight: 500;
  color: #ffffff;
  font-style: normal;
  background: #073b4c;
}
.cid-soYMk3vPFJ P {
  text-align: center;
}
.cid-soYIsjoUWD {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/01.jpg");
}
.cid-soYIsjoUWD .mbr-section-title {
  letter-spacing: 0.1em;
  color: #444444;
}
.cid-soYIsjoUWD .mbr-section-subtitle {
  letter-spacing: 0.03em;
  color: #444444;
}
.cid-soYIsjoUWD .card {
  margin-bottom: 2rem;
  background: #ffffff;
}
.cid-soYIsjoUWD .card-block {
  letter-spacing: 0.03em;
  color: #444444;
  padding: 1.25rem 1.25rem 5px 1.25rem;
}
.cid-soYIsjoUWD .mbr-author {
  padding-top: 0;
  text-align: center;
}
.cid-soYIsjoUWD .space {
  height: 45px;
  width: 100%;
}
.cid-soYIsjoUWD .mbr-author-img {
  width: 100px;
  height: 100px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  margin-top: -60px;
  left: 0;
  right: 0;
}
.cid-soYIsjoUWD .mbr-author-img img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-soYIsjoUWD .mbr-author-name p {
  margin-bottom: 0px;
}
.cid-soYIsjoUWD .mbr-author-desc p {
  margin-bottom: 0px;
}
.cid-soYIsjoUWD .card-footer {
  border-top: none;
  background-color: rgba(0, 0, 0, 0.08);
  padding: .75rem 1.25rem 1.25rem 1.25rem;
}
.cid-soYKyRTFtv {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-soYKyRTFtv .text-section-title {
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: left;
  color: #232323;
}
.cid-soYKyRTFtv .text-section-text {
  letter-spacing: 0.03em;
  line-height: 1.8;
  text-align: left;
  color: #232323;
}
.cid-soYKyRTFtv h4 {
  display: flex;
  letter-spacing: 0.03em;
  -webkit-align-items: center;
  align-items: center;
  color: #000000;
}
.cid-soYKyRTFtv .panel-text {
  letter-spacing: 0.03em;
  color: #333333;
  line-height: 1.7;
}
.cid-soYKyRTFtv .mbr-section-title {
  letter-spacing: 0.1em;
  color: #000000;
}
.cid-soYKyRTFtv .mbr-section-subtitle {
  letter-spacing: 0.03em;
  color: #333333;
}
.cid-soYKyRTFtv .accordion-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-soYKyRTFtv .panel-group {
  width: 100%;
}
.cid-soYKyRTFtv .content-block {
  -webkit-flex-basis: auto !important;
  flex-basis: auto !important;
}
.cid-soYKyRTFtv .card {
  border-bottom: 1px solid #efefef;
  border-radius: 0px;
  margin-bottom: .5rem;
}
.cid-soYKyRTFtv .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-soYKyRTFtv .card .card-header a.panel-title {
  transition: all .3s;
  background-color: #ffffff;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-soYKyRTFtv .card .card-header a.panel-title:hover {
  opacity: 0.5;
}
.cid-soYKyRTFtv .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-soYKyRTFtv .card .card-header a.panel-title .sign {
  padding-left: 1rem;
}
.cid-soYKyRTFtv .card .card-header a.panel-title h4 {
  padding: 1rem 1rem;
  margin-bottom: 0;
}
.cid-soYKyRTFtv .card .panel-body {
  background: #efefef;
}
.cid-soYKyRTFtv .sign {
  color: #000000;
}
.cid-soYKyRTFtv .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-soYKyRTFtv .media-container-row .accordion-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-soYKyRTFtv .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-soYKyRTFtv .media-container-row > div {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cid-soYKyRTFtv .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-soYFCkbRN2 {
  background-image: url("../../../assets/images/party-ideas-for-disabled-kids-946737-1280-1024x585.jpg");
}
.cid-soYFCkbRN2 .row {
  align-items: center;
  -webkit-align-items: center;
}
.cid-soYFCkbRN2 .form-1 {
  z-index: 1;
  background-color: transparent;
  padding: 3rem;
  position: relative;
  overflow: hidden;
}
.cid-soYFCkbRN2 .form-1 .mbr-overlay {
  z-index: -1;
}
.cid-soYFCkbRN2 .input-wrap {
  padding: 0;
  margin-bottom: 1.3em;
}
.cid-soYFCkbRN2 .input-wrap input {
  color: #ffffff !important;
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
  width: 96%;
  padding: .5rem 0rem;
  border-bottom: 1px solid #ffffff;
}
.cid-soYFCkbRN2 .input-wrap input:focus {
  outline: none;
}
.cid-soYFCkbRN2 .input-group-btn {
  display: block;
}
.cid-soYFCkbRN2 .btn-row {
  padding-left: 0;
}
.cid-soYFCkbRN2 input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.cid-soYFCkbRN2 input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.cid-soYFCkbRN2 .form-subtitle {
  line-height: 1.6;
  color: #767676;
}
.cid-soYFCkbRN2 .mbr-section-subtitle {
  color: #e96188;
}
.cid-soYFCkbRN2 .form-text {
  line-height: 1.6;
  color: #767676;
  margin: 0;
}
@media (min-width: 992px) {
  .cid-soYFCkbRN2 .text-element {
    padding-right: 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-soYFCkbRN2 .form-1 {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-soYFCkbRN2 .underline .line {
    height: 2px;
  }
  .cid-soYFCkbRN2 .text-element {
    padding-bottom: 1rem;
  }
  .cid-soYFCkbRN2 .form-1 {
    padding: 2rem;
    margin: 1rem;
  }
  .cid-soYFCkbRN2 .mbr-section-subtitle,
  .cid-soYFCkbRN2 .mbr-section-title,
  .cid-soYFCkbRN2 .mbr-text,
  .cid-soYFCkbRN2 .mbr-section-btn,
  .cid-soYFCkbRN2 .form-title,
  .cid-soYFCkbRN2 .form-subtitle,
  .cid-soYFCkbRN2 input.field,
  .cid-soYFCkbRN2 .input-group-btn,
  .cid-soYFCkbRN2 .form-text {
    text-align: center !important;
  }
}
.cid-soYHQxdSZE {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-soYHQxdSZE .mbr-section-title {
  letter-spacing: 0.1em;
}
.cid-soYHQxdSZE .mbr-section-subtitle {
  color: #444444;
  letter-spacing: 0.03em;
}
.cid-soYHQxdSZE .client-name {
  color: #444;
  letter-spacing: 0.05em;
}
.cid-soYHQxdSZE .wrap-img {
  padding-bottom: 1rem;
}
.cid-soYHQxdSZE .wrap-img img {
  max-width: 100%;
}
.cid-soYHQxdSZE .card-box p {
  color: #444;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-sp9g7LdUA9 {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #073b4c;
}
.cid-sp9g7LdUA9 .row {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sp9g7LdUA9 .text-black {
  font-weight: 800;
  letter-spacing: 0.1em;
}
.cid-sp9g7LdUA9 .btn {
  margin-bottom: 2rem;
}
.cid-sp9g7LdUA9 .mbr-text {
  color: #444;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.cid-sp9g7LdUA9 .social-list {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  padding-left: 0;
  margin-bottom: 25px;
  list-style: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sp9g7LdUA9 .social-list .mbr-iconfont-social {
  font-size: 2rem;
  color: black;
}
.cid-sp9g7LdUA9 .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sp9g7LdUA9 .social-list a {
  margin: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-sp9g7LdUA9 .social-list a:hover {
  opacity: .4;
}
@media (max-width: 767px) {
  .cid-sp9g7LdUA9 .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .cid-sp9g7LdUA9 .mbr-text {
    text-align: center;
    margin-bottom: 2rem;
  }
}
.cid-sp9g7LdUA9 .links {
  color: #232323;
  text-align: center;
}
.cid-sp9g6d3ILF .google-map {
  height: 25rem;
  position: relative;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-sp9g6d3ILF .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sp9g6d3ILF .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sp9g6d3ILF .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sp9g6d3ILF .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sp9mfwgb2y {
  background-image: url("../../../assets/images/full-size-612x344.jpg");
}
.cid-sp9mfwgb2y .mbr-section-title {
  letter-spacing: .1em;
  color: #ffa200;
}
.cid-sp9mfwgb2y .mbr-text {
  letter-spacing: 0.03rem;
}
.cid-sp9mfwgb2y .card-img span {
  font-size: 100px;
}
.cid-spbNX25i2Q {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-spbNX25i2Q .mbr-section-title {
  letter-spacing: 0.1em;
  color: #444444;
  margin-bottom: 2rem;
}
.cid-spbNX25i2Q .mbr-section-subtitle {
  color: #444444;
  margin-bottom: 2rem;
  letter-spacing: 0.03em;
}
.cid-spbNX25i2Q .btn {
  margin: 0px !important;
}
.cid-spbNX25i2Q .second-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-spbNX25i2Q .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-spbNX25i2Q .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-spbNX25i2Q .carousel-item .wrap-img {
  text-align: center;
}
.cid-spbNX25i2Q .carousel-item .wrap-img img {
  max-height: 250px;
  width: auto;
  max-width: 100%;
}
.cid-spbNX25i2Q .carousel {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.cid-spbNX25i2Q .carousel-indicators {
  display: block;
  position: relative;
  margin-top: 2rem;
  text-align: center;
}
.cid-spbNX25i2Q .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #cccccc;
  display: inline-block;
}
.cid-spbNX25i2Q .carousel-indicators li.active {
  border: 4px solid #8d8d8d;
  border-color: #a3a3a3;
}
@media (max-width: 768px) {
  .cid-spbNX25i2Q .second-col {
    padding-top: 2rem;
  }
}
.cid-sp9pS1ExF4 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-sp9pS1ExF4 .mbr-section-title {
  letter-spacing: 0.1em;
  color: #444444;
  margin-bottom: 2rem;
}
.cid-sp9pS1ExF4 .mbr-section-subtitle {
  color: #444444;
  margin-bottom: 2rem;
  letter-spacing: 0.03em;
}
.cid-sp9pS1ExF4 .btn {
  margin: 0px !important;
}
.cid-sp9pS1ExF4 .second-col {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sp9pS1ExF4 .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sp9pS1ExF4 .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-sp9pS1ExF4 .carousel-item .wrap-img {
  text-align: center;
}
.cid-sp9pS1ExF4 .carousel-item .wrap-img img {
  max-height: 250px;
  width: auto;
  max-width: 100%;
}
.cid-sp9pS1ExF4 .carousel {
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 100%;
}
.cid-sp9pS1ExF4 .carousel-indicators {
  display: block;
  position: relative;
  margin-top: 2rem;
  text-align: center;
}
.cid-sp9pS1ExF4 .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  display: inline-block;
}
.cid-sp9pS1ExF4 .carousel-indicators li.active {
  border: 4px solid #8d8d8d;
  border-color: #ffffff;
}
@media (max-width: 768px) {
  .cid-sp9pS1ExF4 .second-col {
    padding-top: 2rem;
  }
}
.cid-sp9mfzpA28 .nav-item:focus,
.cid-sp9mfzpA28 .nav-link:focus {
  outline: none;
}
.cid-sp9mfzpA28 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #444444;
  background: none;
}
.cid-sp9mfzpA28 .navbar.opened {
  transition: all .3s;
  background: #444444 !important;
}
.cid-sp9mfzpA28 .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-sp9mfzpA28 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sp9mfzpA28 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sp9mfzpA28 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-sp9mfzpA28 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sp9mfzpA28 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sp9mfzpA28 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sp9mfzpA28 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sp9mfzpA28 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-sp9mfzpA28 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-sp9mfzpA28 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sp9mfzpA28 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-sp9mfzpA28 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sp9mfzpA28 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sp9mfzpA28 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sp9mfzpA28 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sp9mfzpA28 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sp9mfzpA28 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-sp9mfzpA28 .navbar .navbar-brand {
    flex-shrink: initial;
    word-break: break-word;
  }
  .cid-sp9mfzpA28 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-sp9mfzpA28 .navbar.navbar-short {
  background: #444444 !important;
  min-height: 60px;
}
.cid-sp9mfzpA28 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sp9mfzpA28 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sp9mfzpA28 .navbar-brand {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sp9mfzpA28 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sp9mfzpA28 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sp9mfzpA28 .dropdown-item.active,
.cid-sp9mfzpA28 .dropdown-item:active {
  background-color: transparent;
}
.cid-sp9mfzpA28 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sp9mfzpA28 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sp9mfzpA28 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sp9mfzpA28 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #444444;
}
.cid-sp9mfzpA28 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sp9mfzpA28 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sp9mfzpA28 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sp9mfzpA28 .navbar-buttons {
  text-align: center;
}
.cid-sp9mfzpA28 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-sp9mfzpA28 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sp9mfzpA28 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sp9mfzpA28 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sp9mfzpA28 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sp9mfzpA28 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sp9mfzpA28 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sp9mfzpA28 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sp9mfzpA28 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sp9mfzpA28 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sp9mfzpA28 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-sp9mfzpA28 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sp9mfzpA28 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-sp9mfzpA28 .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-sp9mfzpA28 .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
.cid-sp9mfzpA28 .nav-link:hover,
.cid-sp9mfzpA28 .dropdown-item:hover,
.cid-sp9mfzpA28 .icons-menu .mbr-iconfont:hover {
  color: #c1c1c1 !important;
}
.cid-sp9nZmm0NF {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #a66a00;
}
.cid-sp9nZmm0NF .mbr-text,
.cid-sp9nZmm0NF blockquote {
  color: #767676;
}
.cid-sp9nZmm0NF .mbr-text {
  color: #ffffff;
}
.cid-sp9qAQwZB9 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sp9qAQwZB9 .mbr-text {
  color: #000000;
  letter-spacing: 0.03em;
}
.cid-sp9mfJ40Us {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sp9mfJ40Us .mbr-section-title {
  letter-spacing: 0.1em;
}
.cid-sp9mfJ40Us .mbr-section-subtitle {
  color: #444444;
  letter-spacing: 0.03em;
}
.cid-sp9mfJ40Us .client-name {
  color: #444;
  letter-spacing: 0.05em;
}
.cid-sp9mfJ40Us .wrap-img {
  padding-bottom: 1rem;
}
.cid-sp9mfJ40Us .wrap-img img {
  max-width: 100%;
}
.cid-sp9mfJ40Us .card-box p {
  color: #444;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-sp9mfKLWii {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #073b4c;
}
.cid-sp9mfKLWii .row {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sp9mfKLWii .text-black {
  font-weight: 800;
  letter-spacing: 0.1em;
}
.cid-sp9mfKLWii .btn {
  margin-bottom: 2rem;
}
.cid-sp9mfKLWii .mbr-text {
  color: #444;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.cid-sp9mfKLWii .social-list {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  padding-left: 0;
  margin-bottom: 25px;
  list-style: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sp9mfKLWii .social-list .mbr-iconfont-social {
  font-size: 2rem;
  color: black;
}
.cid-sp9mfKLWii .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sp9mfKLWii .social-list a {
  margin: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-sp9mfKLWii .social-list a:hover {
  opacity: .4;
}
@media (max-width: 767px) {
  .cid-sp9mfKLWii .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .cid-sp9mfKLWii .mbr-text {
    text-align: center;
    margin-bottom: 2rem;
  }
}
.cid-sp9mfKLWii .links {
  color: #232323;
  text-align: center;
}
.cid-sp9mfLPfEA .google-map {
  height: 25rem;
  position: relative;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-sp9mfLPfEA .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sp9mfLPfEA .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sp9mfLPfEA .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sp9mfLPfEA .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
